*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 header{
    background-color: #2c3e50;
 }
 .text_white{
   filter: invert(1);
}
  /* Inizio HEADER */
 /* Fine HEADER */
   /* Inizio MAIN */
   /* Inizio SECTION START BOOTSTRAP */
   .start_bootstrap{
     font-weight: bold;
     text-align: center;
     color: white;
   }
   .fa-star{
      font-size: 30px;
   }
   .line_star{
    width: 100%;
    border: 2px solid white;
    border-radius:20px;
   }
 
 /* Fine SECTION START BOOTSTRAP */

     /* Inizio SECTION PORTFOGLIO */
 /* Fine SECTION PORTFOGLIO */

     /* Inizio SECTION START ABOUT */
 /* Fine SECTION START ABOUT */

     /* Inizio SECTION START CONTACT ME */
 /* Fine SECTION START CONTACT ME */

 /* Fine MAIN */
   /* Inizio FOOTER */
 /* Fine FOOTER */


 .background_sec_footer{
    background-color: rgb(57, 48, 110);
 }
 .h_150{
    height: 150px;
 }
 .background_red{
    background-color: red;
 }
 .background_aqua{
    background-color: rgb(26, 188, 156);
 }
 .background_blue{
    background-color:blue;
    height: 150px;
 }
 .background_green{
    background-color: green;
    height: 100px;
 }
 .background_yellow{
    background-color: yellow;
    height: 50px;
    border: 1px solid black;
 }
 .background_black{
    background-color: black;
    height: 10px;
    border: 1px solid white;
 }
 .background_orange{
    background-color: orange;
    border: 1px solid black;
  
 }
 .img_w{
    width: 100%;
    border-radius: 20px;
 }