*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .background_h_f{
    background-color: rgb(64, 63, 77);
 }
 .background_sec_footer{
    background-color: rgb(57, 48, 110);
 }
 .h_150{
    height: 150px;
 }
 .background_red{
    background-color: red;
 }
 .background_aqua{
    background-color: aqua;
 }
 .background_blue{
    background-color:blue;
    height: 150px;
 }
 .background_green{
    background-color: green;
    height: 100px;
 }
 .background_yellow{
    background-color: yellow;
    height: 50px;
    border: 1px solid black;
 }
 .background_black{
    background-color: black;
    height: 10px;
    border: 1px solid white;
 }
 .background_orange{
    background-color: orange;
    border: 1px solid black;
  
 }
 .ul_col{
    width: 100%;
    display: flex;
    list-style-type: none;
 }
 li{
    width: 50px;
    text-decoration: none;
    margin: 10px;
    height: 10px;
    background-color: blueviolet;
 }
 .img_w{
    width: 100%;
    border-radius: 20px;
 }